<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="p-4">

        <h2 class="fw-bold mb-3 text-center">LOGIN</h2>

        <div class="example-container">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" required>
            </mat-form-field>
        </div>

        <div class="example-container">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" required>
            </mat-form-field>
        </div>

        <div class="d-flex flex-column ">
            <button mat-raised-button color="primary" class="mb-2" type="submit">Login</button>
            <button mat-raised-button color="accent" class="mb-2" routerLink="register">Register</button>
            <span>
                Forgot your password?
                <a routerLink="reset-password">Reset Password</a>
            </span>
        </div>

    </div>
</form>