<div class="row m-0">
    <div class="sns-container">
        <div class="row d-flex justify-content-between">
            <div class="col-xxl-3 col-xl-4 col-12">
                <profile></profile>

                <todo-list></todo-list>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-5 col-sm-6 col-10 mx-auto">
                <new-content></new-content>
            </div>

            <div class="col-12 mt-3">
                <div class="row">
                    <div class="col-xl-9 ms-auto">
                        <contents></contents>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>