<div class="row" style="margin-bottom:15px;">
    <div class="col-md-6">
      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" accept="image/*">
      <button type="button" mat-raised-button color="primary" class="d-flex align-items-center" (click)="file.click()">
        <i class="bi bi-image mr-2"></i>
        {{desc}}
      </button>
    </div>
    <div class="col-md-6">
      <span class="upload" *ngIf="progress > 0">
        {{progress}}%
      </span>
      <span class="upload" *ngIf="message">
        {{message}}
      </span>
    </div>
  </div>