<form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
    <div class="p-4">

        <h2 class="fw-bold mb-3 text-center">RESET PASSWORD</h2>

        <div class="example-container mb-2">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" required>
                <mat-hint>
                    Your new password will be sent to your e-mail address.
                </mat-hint>
                <!-- <mat-error *ngIf="username?.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
        </div>

        <div class="d-flex flex-column ">
            <button mat-raised-button color="primary" class="mb-2" type="submit">Reset Password</button>
            <button mat-raised-button color="accent" class="mb-2" routerLink="/">Login</button>
        </div>

    </div>
</form>