.content-user-info{
    li{
        font-size: 0.85rem;
    }
}

.delete-content{
    position: absolute;
    right: 0;
    top: 0;
    width: 10px !important;
    height: auto;
    padding: 0.4rem 0.85rem;
    min-width: unset!important;
    border-radius: 0 0px 0px 24px ;
  
    i{
      // font-size: 2px;
    }
  }