<mat-card class="example-card pb-2">
    <mat-card-header class="mb-2 row">
        <div class="col-3 m-0">
            <button *ngIf="contentUser" mat-fab [color]="user?.localId == contentUser.localId ? 'primary':'accent'" class="fs-4">
                {{getContentHeader(contentUser.name!)}}
            </button>
        </div>

        <div class="col-9 m-0 content-user-info">
            <ul>
                <li class="fw-bold">{{contentUser?.name}}</li>
                <li>{{contentUser?.university}}</li>
                <li>{{contentUser?.department}}</li>
                <li>{{contentUser?.class}}</li>
            </ul>
        </div>
    </mat-card-header>
    <hr>

    <mat-card-content class="mb-3">
        <mat-chip-listbox>
            <mat-chip> {{content?.department}}</mat-chip>
            <mat-chip> {{content?.lesson}}</mat-chip>
            <mat-chip> {{content?.class}}.Class</mat-chip>
        </mat-chip-listbox>
    </mat-card-content>

    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <p style="word-wrap: break-word;" [innerHTML]="content?.description"></p>
    </mat-card-content>

    <button class="delete-content" *ngIf="user?.localId == content?.userLocalId" mat-raised-button color="warn"
        matTooltip="Delete" (click)="deleteContent(content)">
        <i class="bi bi-trash"></i>
    </button>
</mat-card>